

.read-more {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #0c76da;
  margin-top: 10px;
}


/* new*/
.gallery .item video {
  width: 100%;
  height: 100%;
  display: block;
  opacity: initial;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.gallery .item:hover video {
  opacity: 1;
  visibility: visible;
}
/* new*/

.navbar-brand {
  transition: transform 0.5s ease;
}

.navbar-brand:hover {
  transform: scale(1.15);
}

ul {
  text-align: center;
  max-width: 60%;
  /* paragraph never gets wider than 60% of the screen */
  margin: 0 auto;
  /* centers it horizontally */
  font-size: 30px;
  padding: auto;
  border-radius: 30px;
  background-color: #728b80;
}

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 10px;
      margin: 10px;
      padding: 10px;
    }

    .item {
      background-color: #ffffff00;
      border-radius: 1px;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .item img {
      padding: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 100px;
    }

    .item p {
      text-align: center;
      display: flex;
      align-items: center;
      padding: 5px;
      margin: 0;
      font-size: 1.2rem;
      color: #678e7a;
      line-height: 0.1;
    }

    /* Additional styling for visual appeal */
    .item:hover {
      transform: scale(1.1);
      transition: transform 1s ease;
    }

  .blog-preview img {
  width: 1%;      /* image takes up 45% of the total width of .blog-preview */
  height: auto;    /* keeps proportions correct */
  border-radius: 8px; /* optional, softens corners */
}

.drone-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: 5px solid #000000;
  padding: 10px;
  margin-inline: 500px;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}

@media (max-width: 600px) {
  .card-section{
    flex-direction: column;
  }
}