h1 { 
    display: block;     
    text-align: center;
   
     text-decoration-line: underline;
     
  
}

h2, h3 {
text-align: center;
-webkit-text-fill-color: rgb(225, 249, 249);
margin: 10px auto; 

} 

body {
background-color: #5F9EA0 ;
text-align: center;  
     

}

p { max-width: 60%; /* paragraph never gets wider than 60% of the screen */
    margin: 0 auto; /* centers it horizontally */ }

    .movie-cover {
        width: 20%;        /* shrink to half size */
        max-width: 300px;  /* optional cap so it never gets too big */
        height: auto;      /* keep proportions */
        display: block;    /* allows margin auto to center */
        margin: 20px auto; /* center horizontally with some space above/below */
      }

      .owl-group {
        width: 30%;        /* shrink to half size */
        max-width: 300px;  /* optional cap so it never gets too big */
        height: auto;      /* keep proportions */
        display: block;    /* allows margin auto to center */
        margin: 20px auto; /* center horizontally with some space above/below */
      }



