h1 { 
    display: grid;  
    border: 2px solid #333;
        
    text-align: center;
    margin: 80px auto;
    background-color: rgb(65, 209, 201);
}

h2, h3 {
text-align: center;
background-color: snow;
} 

body {
background-color: #5F9EA0 ;
text-align: center;        

}




p { max-width: 60%; /* paragraph never gets wider than 60% of the screen */
    margin: 0 auto; /* centers it horizontally */ }



