/* All elements */
* {
    box-sizing: border-box;
}

h1 {
    display: block;
    margin: 0 auto;
    -webkit-text-fill-color: #000000;
    /* text-shadow: 2px 2px 5px rgb(255, 255, 255);*/
    font-family: "Lucida Console", "Courier New", "Bold", monospace;
    /* text-decoration-line: underline; */
    width: 72%;
    border: 2px solid #ffffff;
    border-radius: 100px;
    background-color: #cb6437;


}

h2,
h3 {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: "Bold";
    text-shadow: 2px 2px 5px rgb(228, 149, 69);
    margin: 10px auto;
    max-width: 40%;
    /* paragraph never gets wider than 60% of the screen */
    margin: 0 auto;
    /* centers it horizontally */
}

body {
    background-color: #D88A68;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(228, 149, 69);
}

p {
    max-width: 30%;
    /* paragraph never gets wider than 60% of the screen */
    margin: 0 auto;
    /* centers it horizontally */
    font-size: 20px;
    font-family: "Bold";

}

ul {
    padding: 10px 100px;
    max-width: 40%;
    /* paragraph never gets wider than 60% of the screen */
    margin: 0 auto;
    /* centers it horizontally */
    font-size: 28px;

    padding: 1px 100px;
    /* Added left and right padding */

    border-radius: 50px;
    background-color: #D88A68;
}

.soren-soren {
    width: 40%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.movie-cover {
    width: 20%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.owl-group {
    width: 400%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.owl-fight {
    width: 55%;
    max-width: 400px;
    height: auto;
    display: outside;
    margin: 20px auto;
}

.soren-fire {
    width: 55%;
    max-width: 300px;
    height: auto;
    display: outside;
    margin: 20px auto;
}

.klaudd-sad {
    width: 20%;
    max-width: 300px;
    height: auto;
    display: outside;
    margin: 20px auto;
}

.mom-dad {
    width: 20%;
    max-width: 300px;
    height: auto;
    display: outside;
    margin: 20px auto;
}

.klaudd-looks {
    width: 20%;
    max-width: 198px;
    height: auto;
    display: outside;
    margin: 20px auto;
    border-radius: 70px;
}

.eggy-egg {
    width: 20%;
    max-width: 300px;
    height: auto;
    display: outside;
    margin: 20px auto;
    border-radius: 70px;

}

.funny-smallowl {
    width: 10%;
    max-width: 200px;
    height: auto;
    display: outside;
    margin: 20px auto;
    border-radius: 80px;
}

.tree-container {
    display: flex;
    /* Makes the container a flexbox */
    justify-content: space-between;
    /* Pushes items to the far ends of the container */
    align-items: center;
    /* Vertically centers the items within the container */
    width: 100%;
    /* Ensures the container spans the full width of the page */
}

.tree-tree {
    width: 40%;
    max-height: 1100px;
    max-width: 300px;
}

.tree-2 {
    width: 40%;
    max-height: 1100px;
    max-width: 300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.column {
    float: left;
    width: 50%;
    padding: 100px;
}

div {
    border: 2px solid #D88A68;
    border-radius: 50px;
    max-width: 60%;
    margin: 0 auto;
    background-color: #D88A68;
    text-align: center;
}

.another-div {
    border: 2px solid #D88A68;
    border-radius: 10px;
    max-width: 50%;
    margin: 20px auto;
    background-color: #D88A68;
}

.one-more-div {
    border: 2px solid #D88A68;
    border-radius: 10px;
    max-width: 50%;
    margin: 20px auto;
    background-color: #D88A68;
}

hr {
    border: 5px solid #D88A68;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    border-radius: 50px;

    background-color: #ffffff;
    display: inline-block;
}



/* background-color: #146568; */
header {

    padding: 9px auto;
    text-align: center;
    border-radius: 15px;
    background-color: #D88A68;
}